# ANALYSING NYC PARKING TICKETS USING PANDAS PROJECT: CSV FILE(S)

## Author(s): DAP COHORT 7 GROUP 6

The program performs data analysis on parking tickets in New York City, using pandas, on data acquired from a csv file to answer the following questions:
1. How many rows are in the data frame when it is read in the memory?
2. Remove rows with any missing data (i.e., a NaN value)
3. How many rows remain after doing pruning?
4. If each parking ticket brings $100 into the city, missing data means that the ticket can be successfully contested, how much money might New York City lose as a result of missing data?
5. Let's instead assume that a ticket can only be dismissed if the license plate, state, car, make and/or street name are missing one or more of these. How many rows remain?
6. Assuming $100/ticket, how much money would the city lose as a result of missing data?

### Step 1: Select Data Frame

In [1]:
# Import relevant libraries
import pandas as pd

# Read Data Frame
data = pd.read_excel("nyc-violation-ticket.xlsx")
npv_df = pd.DataFrame(data)
npv_df

# Display Data Frame Info
npv_df.info()
print()

# Display Data Frame
npv_df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 43 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Summons Number                     50000 non-null  int64
 1   Plate ID                           50000 non-null  object
 2   Registration State                 50000 non-null  object
 3   Plate Type                         50000 non-null  object
 4   Issue Date                         50000 non-null  datetime64[ns]
 5   Violation Code                     50000 non-null  int64
 6   Vehicle Body Type                  49855 non-null  object
 7   Vehicle Make                       49864 non-null  object
 8   Issuing Agency                     50000 non-null  object
 9   Street Code1                       50000 non-null  int64
 10  Street Code2                       50000 non-null  int64
 11  Street Code3                       50000 non-null  int64
 12  Vehicle Expiration Date            50000 non-null  int64
 13  Violation Location                 32107 non-null  float64
 14  Violation Precinct                 50000 non-null  int64
 15  Issuer Precinct                    50000 non-null  int64
 16  Issuer Code                        50000 non-null  int64
 17  Issuer Command                     32143 non-null  object
 18  Issuer Squad                       32143 non-null  object
 19  Violation Time                     49999 non-null  object
 20  Time First Observed                1889 non-null   object
 21  Violation County                   49883 non-null  object
 22  Violation In Front Of Or Opposite  31932 non-null  object
 23  House Number                       31728 non-null  object
 24  Street Name                        49990 non-null  object
 25  Intersecting Street                22717 non-null  object
 26  Date First Observed                50000 non-null  int64
 27  Law Section                        50000 non-null  int64
 28  Sub Division                       49998 non-null  object
 29  Violation Legal Code               17857 non-null  object
 30  Days Parking In Effect             32143 non-null  object
 31  From Hours In Effect               19606 non-null  object
 32  To Hours In Effect                 19606 non-null  object
 33  Vehicle Color                      47583 non-null  object
 34  Unregistered Vehicle?              2108 non-null   float64
 35  Vehicle Year                       50000 non-null  int64
 36  Meter Number                       2150 non-null   object
 37  Feet From Curb                     50000 non-null  int64
 38  Violation Post Code                30035 non-null  object
 39  Violation Description              22802 non-null  object
 40  No Standing or Stopping Violation  0 non-null      float64
 41  Hydrant Violation                  0 non-null      float64
 42  Double Parking Violation           0 non-null      float64
dtypes: datetime64[ns](1), float64(5), int64(13), object(24)
memory usage: 16.4+ MB

,Summons Number,Plate ID,Registration State,Plate Type,Issue Date,Violation Code,Vehicle Body Type,Vehicle Make,Issuing Agency,Street Code1,...,Vehicle Color,Unregistered Vehicle?,Vehicle Year,Meter Number,Feet From Curb,Violation Post Code,Violation Description,No Standing or Stopping Violation,Hydrant Violation,Double Parking Violation
0,4714702166,KGK6659,NY,PAS,2020-11-12,36,4DSD,BMW,V,0,...,GY,NaN,2007,NaN,0,NaN,PHTO SCHOOL ZN SPEED VIOLATION,NaN,NaN,NaN
1,8793684599,L5232HY,TN,PAS,2020-09-14,21,TRAC,INTER,T,60790,...,WHITE,NaN,0,NaN,0,W,NaN,NaN,NaN,NaN
2,8864757053,BPMN76,FL,PAS,2020-11-25,20,SUBN,NISSA,T,36030,...,BLACK,NaN,0,NaN,0,49,20A-No Parking (Non-COM),NaN,NaN,NaN
3,8778326047,57387MJ,NY,COM,2020-08-20,38,VAN,NaN,T,34430,...,WH,NaN,2016,NaN,0,1,NaN,NaN,NaN,NaN
4,4706640702,M81KFJ,NJ,PAS,2020-09-09,36,UT,TOYOT,V,0,...,NaN,NaN,2002,NaN,0,NaN,PHTO SCHOOL ZN SPEED VIOLATION,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,4014245755,JPN4910,NY,PAS,2020-06-25,5,PICK,FORD,V,0,...,RD,NaN,2019,NaN,0,NaN,BUS LANE VIOLATION,NaN,NaN,NaN
49996,8794437506,174ZYG,CT,PAS,2020-08-25,31,4DSD,TOYOT,T,34030,...,BLACK,NaN,0,NaN,0,16,NaN,NaN,NaN,NaN
49997,8849769581,HES6895,NY,PAS,2020-11-03,46,SUBN,CADIL,T,27120,...,RD,NaN,2005,NaN,0,K,NaN,NaN,NaN,NaN
49998,8755448173,63035MN,NY,COM,2020-08-19,40,DELV,ISUZU,T,0,...,WH,NaN,2020,NaN,5,67,NaN,NaN,NaN,NaN
49999,8581527528,AW74165,CT,PAS,2020-08-06,20,4DSD,HONDA,T,17860,...,BLACK,NaN,0,NaN,0,A,NaN,NaN,NaN,NaN

### Step 2: Filter Data Frame to Include Specific Columns

In [14]:
# Assign columns_to_keep as a list of columns you want to keep
columns_to_keep = ["Plate ID", "Registration State", "Vehicle Make", 
                   "Vehicle Color", "Violation Time", "Street Name"]

# Filter out columns to keep
npvcs_df = npv_df[columns_to_keep]

# Display Data Frame Info
npvcs_df.info()
print()

# Display Data Frame
npvcs_df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Plate ID            50000 non-null  object
 1   Registration State  50000 non-null  object
 2   Vehicle Make        49864 non-null  object
 3   Vehicle Color       47583 non-null  object
 4   Violation Time      49999 non-null  object
 5   Street Name         49990 non-null  object
dtypes: object(6)
memory usage: 2.3+ MB

,Plate ID,Registration State,Vehicle Make,Vehicle Color,Violation Time,Street Name
0,KGK6659,NY,BMW,GY,0637P,WB ATLANTIC AVE @ SH
1,L5232HY,TN,INTER,WHITE,0853A,Rockaway Beach Blvd
2,BPMN76,FL,NISSA,BLACK,0853A,W 113th St
3,57387MJ,NY,NaN,WH,0444P,W 33rd St
4,M81KFJ,NJ,TOYOT,NaN,0723A,WB FOSTER AVE @ E 18
...,...,...,...,...,...,...
49995,JPN4910,NY,FORD,RD,0342P,EB E 125TH ST @ 2ND
49996,174ZYG,CT,TOYOT,BLACK,0828A,W 13th St
49997,HES6895,NY,CADIL,RD,0933P,E 182nd St
49998,63035MN,NY,ISUZU,WH,1215P,W Kingsbridge Rd
49999,AW74165,CT,HONDA,BLACK,0128P,Canal Pl

### Step 3: Answer the Following Questions

#### 1. How many rows are in the data frame when it is read in the memory?

In [15]:
# Determine the total number of rows of the Data Frame before pruning
num_rows = len(npvcs_df)

# Print the total number of rows before pruning the Data Frame
print(f"There are {num_rows:,} rows in the Data Frame")

There are 50,000 rows in the Data Frame

#### 2. Remove rows with any missing data (i.e., a NaN value)

In [16]:
# Determine the missing values per column in the Data Frame before pruning
missing_values = npvcs_df.isna().sum()

# Remove rows with any missing data in the Data Frame
npvcs1_df = npvcs_df.dropna()

# Determine the missing values per column in the Data Frame after pruning
missing_values1 = npvcs1_df.isna().sum()

# Print Info of missing values before pruning Data Frame
print("Missing values in each column before pruining:")
print(missing_values)
print()

# Print Info of missing values after pruning Data Frame
print("Missing values in each column after pruning:")
print(missing_values1)
print()

npvcs1_df

Missing values in each column before pruining:
Plate ID                 0
Registration State       0
Vehicle Make           136
Vehicle Color         2417
Violation Time           1
Street Name             10
dtype: int64

Missing values in each column after pruning:
Plate ID              0
Registration State    0
Vehicle Make          0
Vehicle Color         0
Violation Time        0
Street Name           0
dtype: int64

,Plate ID,Registration State,Vehicle Make,Vehicle Color,Violation Time,Street Name
0,KGK6659,NY,BMW,GY,0637P,WB ATLANTIC AVE @ SH
1,L5232HY,TN,INTER,WHITE,0853A,Rockaway Beach Blvd
2,BPMN76,FL,NISSA,BLACK,0853A,W 113th St
5,KDW9420,NY,INFIN,BK,0655P,NB KNAPP ST @ VOORHI
6,HLB4150,NY,HONDA,GY,1049A,Surf Ave
...,...,...,...,...,...,...
49995,JPN4910,NY,FORD,RD,0342P,EB E 125TH ST @ 2ND
49996,174ZYG,CT,TOYOT,BLACK,0828A,W 13th St
49997,HES6895,NY,CADIL,RD,0933P,E 182nd St
49998,63035MN,NY,ISUZU,WH,1215P,W Kingsbridge Rd
49999,AW74165,CT,HONDA,BLACK,0128P,Canal Pl

#### 3. How many rows remain after doing pruning?

In [17]:
# Determine the total number of rows of pruned Data Frame
num_rows1 = len(npvcs1_df)

# Print the total number of rows before pruning the Data Frame
print(f"There are {num_rows1:,} rows in the Data Frame")

There are 47,446 rows in the Data Frame

#### 4. If each parking ticket brings $100 into the city, missing data means that the ticket can be successfully contested, how much money might New York City lose as a result of missing data?

In [18]:
# Calculate the number of rows with missing data and multiply by 100 to determine the potential loss in revenue
potential_loss = (len(npvcs_df) - len(npvcs1_df)) * 100

# Display the results
print(f"{len(npvcs_df) - len(npvcs1_df):,} rows in the Data Frame had missing values")
print()
print("New York City could potentially lose $ {:,.2f}".format(potential_loss), "in parking ticket fines")

2,554 rows in the Data Frame had missing values

New York City could potentially lose $ 255,400.00 in parking ticket fines

#### 5. Let's instead assume that a ticket can only be dismissed if the license plate, state, car, make and/or street name are missing one or more of these. How many rows remain?

In [19]:
# List of columns to check for missing values
columns_to_check = ["Plate ID", "Registration State", "Vehicle Make", "Street Name"]

# Remove rows where any of the specified columns have missing values
npvcs_df_cleaned = npvcs_df.dropna(subset=columns_to_check)

# Print the total number of rows remaining after pruning the Data Frame
total_rows_remaining = len(npvcs_df_cleaned)
print(f"There are {total_rows_remaining:,} rows remaining after pruning the Data Frame")
print()

# Display Info of pruned Data Frame
npvcs_df_cleaned.info()
print()

# Display pruned Data Frame
npvcs_df_cleaned

There are 49,856 rows remaining after pruning the Data Frame

<class 'pandas.core.frame.DataFrame'>
Index: 49856 entries, 0 to 49999
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Plate ID            49856 non-null  object
 1   Registration State  49856 non-null  object
 2   Vehicle Make        49856 non-null  object
 3   Vehicle Color       47447 non-null  object
 4   Violation Time      49855 non-null  object
 5   Street Name         49856 non-null  object
dtypes: object(6)
memory usage: 2.7+ MB

,Plate ID,Registration State,Vehicle Make,Vehicle Color,Violation Time,Street Name
0,KGK6659,NY,BMW,GY,0637P,WB ATLANTIC AVE @ SH
1,L5232HY,TN,INTER,WHITE,0853A,Rockaway Beach Blvd
2,BPMN76,FL,NISSA,BLACK,0853A,W 113th St
4,M81KFJ,NJ,TOYOT,NaN,0723A,WB FOSTER AVE @ E 18
5,KDW9420,NY,INFIN,BK,0655P,NB KNAPP ST @ VOORHI
...,...,...,...,...,...,...
49995,JPN4910,NY,FORD,RD,0342P,EB E 125TH ST @ 2ND
49996,174ZYG,CT,TOYOT,BLACK,0828A,W 13th St
49997,HES6895,NY,CADIL,RD,0933P,E 182nd St
49998,63035MN,NY,ISUZU,WH,1215P,W Kingsbridge Rd
49999,AW74165,CT,HONDA,BLACK,0128P,Canal Pl

#### 6. Assuming $100/ticket, how much money would the city lose as a result of missing data?

In [20]:
# Calculate the number of rows with missing data and multiply by 100 to determine the potential loss in revenue
potential_loss1 = (len(npvcs_df) -  len(npvcs_df_cleaned)) * 100

# Display the results
print(f"{len(npvcs_df) - len(npvcs_df_cleaned):,} rows in the Data Frame had missing values")
print()
print("New York City could potentially lose $ {:,.2f}".format(potential_loss1), "in parking ticket fines")

144 rows in the Data Frame had missing values

New York City could potentially lose $ 14,400.00 in parking ticket fines